<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

# Module 1

Your first program

In [1]:
print ('Hello python 101')

Hello python 101

In [2]:
#print hello python
print ('Hello python 101')

Hello python 101

In [3]:
#Q1
print ('Hello\npython 101')

Hello
python 101

In [4]:
#Q2
print('Hello World!')

Hello World!

In [5]:
#TYPES

In [10]:


Your first program float(2)

2.0

In [11]:
int(1.1)

1

In [13]:
type(False)

bool

In [14]:
int(False)

0

In [15]:
int (True)

1

In [16]:
#Q2 Enter the code to convert the number 1 to a Boolean.
bool(1)

True

In [17]:
int(1.0)

1

In [21]:
#eXPRESSIONS AND VARIABLES

In [22]:
30+20

50

my_variable=1

In [23]:
my_variable=1

In [24]:
#STRING OKPERATORS

In [26]:
Name=("Michael Jackson")

In [27]:
Name[::2]

'McalJcsn'

In [28]:
Name[0:5:2]

'Mca'

In [29]:
len(Name)

15

In [31]:
A='MI NOMBRE ES KEVIN'

In [39]:
B=A.lower()

In [41]:
B

'mi nombre es kevin'

In [42]:
#Q1 How would you obtain the even elements?
Numbers = "0123456"

In [43]:
Numbers[::3]

'036'

In [44]:
Numbers[::2]

'0246'

In [49]:
#Q2 
"0123456".find('1')

1

In [50]:
#Review Q1`
3+2*2

7

In [51]:
#REVIEW Q2
name = 'Lizz'

In [52]:
print(name[0:2])

Li

In [53]:
#REVIEW Q3
var = '01234567'

In [56]:
print(var[::2])

036

In [57]:
#REVIEW Q4
'1'+'2'

'12'

In [58]:
#REVIEW Q5
myvar = 'hello'

In [60]:
B=myvar.upper()

In [61]:
B

'HELLO'

## Module 2

In [62]:
#TUPLES

In [63]:
Tuple1=("disco",10,1.2)

In [64]:
Tuple1

('disco', 10, 1.2)

In [ ]:
tuple2

In [66]:
# lists and tuples

In [67]:
#Q1
A=(0,1,2,3)

In [78]:
A[-1]

3

In [79]:
#Q2
B=["a","b","c"]

In [82]:
B[1:]

['b', 'c']

In [83]:
# SETS

In [85]:
Set1:{"kevin","garcia","kevin"}

In [87]:
Set1.add("alejandro")

In [88]:
Set1

{'alejandro', 'garcia', 'kevin'}

"garcia" in Set1

In [89]:
#Q1
S={'A','B','C'}

U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
#Q2
S={'A','B','C'}

U={'A','Z','C'}

Set1

In [ ]:
#Dictionaries

In [90]:
#Q1
D = {'a':0,'b':1,'c':2}

In [92]:
D.values()

dict_values([0, 1, 2])

In [93]:
#Q2
D = {'a':0,'b':1,'c':2}

In [94]:
D['b']

1

#Review questions

In [95]:
#Q1
A = ('a','b','c')

In [96]:
A[0]

'a'

In [100]:
#Q2
#After applying the following method, L.append(['a','b']), the following list will only be one element longer.
#RESP: True

In [101]:
#Q3 How many duplicate elements can you have in a set?
#RESP: You can only have one unique element in a set.

In [102]:
#Q4
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

In [103]:
Dict["D"]

(4, 4, 4)

In [104]:
#Q5
#What is an important difference between lists and tuples?
#RESP:Lists are mutable, tuples are not.

# Module 3
Python data structures

In [ ]:
#Conditions and BranchingPython data structuresPython data structures

In [109]:
#Q1 Select the values of i that produces a True for the following: 0!=0

#RESP:1,-1,1000000

In [110]:
#Q2 What is the output of the following:

#x='a'

#if(x!='a'):

#print("This is not a.")

#else:

#print("This is a.")

#RESP: "This is a."

In [ ]:
#loops

In [112]:
#Q1
A=[3,4,5]

for a in A:

    print(a)

3
4
5

In [115]:
#Q2
x=3

y=1

while(y!=x):

    print(y)

    y=y+1

1
2

In [ ]:
#Functions

In [117]:
#Q1
a=1

def add(b):

    return a+b

c=add(10)

In [118]:
c

11

In [119]:
#Q2 What is the value of c after the following block of code is run with proper numerical input?
#def f(*x):

#    return sum(x)
#RESP: Return the total of a variable amount of parameters.

In [ ]:
#Object and classes

In [120]:
#Q1
#Using the Class Car in the lab, create a Car object with the following attributes:

#make="Honda"

#model="Accord"

#color="blue"
#RESP:Car(make="Honda",model="Accord",color="blue") ,Car("Honda","Accord","blue"),Car(model="Accord",make="Honda",color="blue")

In [ ]:
#Q2
#From the lab, how would you change the data attribute owner_number ?
#RESP: Utilising the method sell().

In [ ]:
#REVIEW QUESTIONS

In [121]:
# Q1 What is the output of the following lines of code:

#x=1

#if(x!=1):

    #print('Hello')

#else:

    #print('Hi')

#print('Mike')

In [122]:
x=1

if(x!=1):

    print('Hello')

else:

    print('Hi')

print('Mike')

Hi
Mike

In [123]:
#Q2
A = ['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [140]:
#Q3
def Delta(x):

    if x==0:

        y=1;

    else:

        y=0;

    print(y)
    print(delta)

In [ ]:
#RESP=WHEN TH INPOUT IS 0

In [141]:
#Q4 What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.
#RESP B.sort()

In [ ]:
#Q5 What are the keys of the following dictionary: {'a':1,'b':2}?
#RESP:a,b